%h2 記事一覧
.row
  .col-xs-12
    .box
      .box-header
        .pull-right
          = link_to '記事を追加', new_article_path, class: 'btn btn-primary'
      .box-body
        - if @articles.present?
          %table.table.table.table-striped.table-hover
            %tr
              %th タイトル
              %th 内容
              %th コメント数
              %th 作成日
              %th 更新日
              %th
              %th
            - @articles.each do |article|
              %tr
                %td= article.title
                %td= truncate(article.body)
                %td= article.comments.count
                %td= l article.created_at
                %td= l article.updated_at
                %td= link_to '編集', edit_article_path(article)
                %td= link_to '削除', article_path(article), method: :delete, data: { confirm: '本当に削除しますか？' }

        - else
          %p 記事はありません