.login-box
  .login-logo
    = link_to(root_path) do
      %b> Qiitan
      Training
  .login-box-body
    %p.login-box-msg ログイン
    - if alert.present?
      .alert.alert-danger= alert
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: false, autofocus: true
        %span.glyphicon.glyphicon-envelope.form-control-feedback
        = f.input :password, required: false
        %span.glyphicon.glyphicon-lock.form-control-feedback
      .row
        .col-xs-8

        .col-xs-4
          = f.button :submit, 'ログイン', {class: "btn btn-primary btn-block btn-flat" }
    = render "devise/shared/links"
